//@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Noto Sans", "Liberation Sans", "Open Sans", sans-serif;
    color: #222;
    background: #fff;

    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    font-size: 15px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.main-container {
    flex-grow: 999;
    padding: 1em;
}

.main {
    /* border: solid 1px red; */
    max-width: 50em;
}

.sidebar {
    width: 10em;
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;

    padding: 1em;
}

.nav {
    padding: 0;
    margin: 0;
}

.nav li {
    list-style: none;
    padding: 0.5em;
}

@media (max-width: 70rem) {
    body {
        flex-direction: column;
    }
    .sidebar {
        padding-bottom: 0;
    }
    .main-container {
        padding-top: 0;
    }
}
