<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/styles.css">

        <!-- KATEX ============================== -->
        <link rel="stylesheet" href="/katex/katex.min.css">
        <script defer src="/katex/katex.min.js"></script>
        <script defer src="/katex/auto-render.min.js"
                      onload="
                      renderMathInElement(document.body,
                      {delimiters: [
                          {left: '$$', right: '$$', display: true},
                          {left: '$', right: '$', display: false}
                      ]});"></script>
        <!-- END KATEX ========================== -->

    </head>
    <body>
        <aside class="sidebar">
            <ul class="nav">
                <li><a href="/">Home</a></li>
            </ul>
        </aside>
        <div class="main-container">
            <main class="main">
              {{ page.content }}
            </main>
        </div>
  </body>
</html>
